.dashboard-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.offcanvas-body .canvas-cam {
    width: 90%;
}

.offcanvas-body p {
    color: black;
    text-align: left;
}