.trigger-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100%;
    gap: 10px;
}

.trigger-element {
    border: 1px solid black;
    border-radius: 4px;
    /* background: rgba(199, 198, 197, 0.685); */
    background: linear-gradient(45deg, #1A237E91, #880e0e91);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.trigger-element .trigger-content {
    width: 50%;
}
.trigger-element>.trigger-img {
    width: 40%;
}

.trigger-element>.trigger-img>img {
    width: 100%;
    object-fit: contain;
}

.trigger-element>.trigger-content>p {
    color: black;
    text-align: left;
}

.trigger-element>.trigger-content>p>a {
    color: black;
}

@media screen and (max-width: 768px) {
    .trigger-grid{
        grid-template-columns: 1fr;
    }
}